h1{
    margin-left: 40%;
}

body {
    background-color: cornflowerblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
}

canvas {
    align-content: center;
    margin: auto; 
    display: block;
    position: absolute;
    top: 50;
    bottom: 0;
    left: 0;
    right: 0;
}

p.border {
    border-style: solid;
    border-width: medium;
}
    
div.rcorner {
    margin: 70px 1px 30px 0px;
    padding: 6px;
    text-align: center; 
    background-color: lightsteelblue;
    border-style: solid;
    border-width: thin ;
    border-radius: 15px;
    width: 175px;
    height: 22px;    
}
    
div.rcorner.active {
    background-color: white;   
}

div.instruct {
    padding: 10px;
    margin-top: 100px;
    width: 170px;
    border-width: thin;
    border-style: solid;
    background-color: rgb(209, 221, 238);
    border-radius: 15px;
    text-align: center;
}

.bold{
    font-weight: bold;
}