h1{
    /* margin-left: 40%; */
    display: flex;
    margin-left: 180px;
}

body {
    background-color: cornflowerblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
}

canvas {
    /* margin: auto;  */
    /* display: block; */
    /* position: absolute; */
    top: 50px;
    bottom: 0;
    left: 200px;
    right: 0;
    
    display: flex;
    align-items: center;
}

p.border {
    border-style: solid;
    border-width: medium;
}

.scores {
    display: flex;
    width: 480px;
    align-items: center;
    margin: 5px;
}
    
span.rcorner {
    /* margin: 70px 1px 30px 100px; */
    margin: auto;
    padding: 6px;
    /* align-items: center; */
    /* text-align: center;  */
    background-color: lightsteelblue;
    border-style: solid;
    border-width: thin ;
    border-radius: 15px;
    /* width: 175px; */
    /* height: 22px;     */
}
    
/* span.rcorner.active {
    background-color: white; 
    align-items: center;  
} */

div.instruct {
    padding: 10px;
    margin-top: 10px;
    margin-left: 45px;
    width: 374px;
    border-width: thin;
    border-style: solid;
    background-color: rgb(209, 221, 238);
    border-radius: 15px;
    text-align: center;
}

.bold{
    font-weight: bold;
}
